@import "index.css";

@media only screen and (max-width: 600px){
    p { font-size: .8em }
    header, footer, .centerIMG {
        float: none;
        width: auto;
    }
}
@media only screen and (min-width: 601px) and (max-width: 5000px){
    header, footer, .centerIMG {
        float: none;
        width: auto;
        font-family:'Times New Roman', Times, serif;
    }
}